{% extends "news/base.html" %} {% load thumbnail news_tags %} {% block content %}
<!--<script src="/static/js/my.js"></script>-->
<script src="/static/js/freewall.js"></script>
<div class="container" style="margin-bottom: 100px;">
    <div class=row>
        <div class="col-md-3">
            <div class="news-side" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <h3>Categories</h3>
                {% get_news_categories as news_categories %} {% for cat in news_categories %}
                <a href="/news/category/{{cat.slug}}">
                    <h4>{{cat.title}}</h4>
                </A>
                {% endfor %}
                <h3>Archive Dates</h3>
                {% get_news_months as news_months %} {% for month in news_months reversed %}
                <a href="/news/{{month|date:'Y'}}/{{month|date:'m'}}">
                    <h4>{{month|date:"M Y"}}</h4>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            {% for i in object_list %}
            <div class="box">
                <div class="box-icon">
                    {% if i.image %} {% thumbnail i.image.file 150x150 upscale as thumb %}
                    <a href="{{ i.get_absolute_url }}">
                        <img src="{{ thumb.url }}" alt="{{ i }}" class="img-thumbnail" />
                    </a>
                    {% else %}
                    <a href="http://placehold.it/150x150">
                        <img src="http://placehold.it/150x150" alt="News" class="img-thumbnail" />
                    </a>
                    {% endif %}
                </div>
                <div class="info">
                    <h2 class="text-center"><a href="{{ i.get_absolute_url }}">{{ i }}</a>
                    </h2>
                    <h6 class="text-center">{{ i.date|date:"j M Y" }} &bull; <a href="{{ i.category.get_absolute_url }}">{{ i.category }}</a>
                    </h6>
                    <hr> {% if i.teaser %} {{ i.teaser|linebreaks }} {% else %}
                    <p> {{ i.content|safe }} </p>{% endif %}
                    <a class="btn-xs btn-info" href="{{ i.get_absolute_url }}">Read More</a>
                </div>
            </div>
            {% endfor %} {% if is_paginated %}
            <nav class="pagination">
                {% if page_obj.has_previous %}
                <a class="prev" href="?page={{ page_obj.previous_page_number }}">Prev</a> {% endif %} {% if page_obj.has_next %}
                <a class="next" href="?page={{ page_obj.next_page_number }}">Next</a> {% endif %}
            </nav>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}
